@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

h1,
h2,
h3,
h4,
.footer-word {
  font-family: 'Space Grotesk', sans-serif;
}

button {
  cursor: pointer;
}

.menu-clip {
  clip-path: circle(0% at 100% 0); /* liten cirkel i top-right */
  transition: clip-path 0.6s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 0.4s ease;
  opacity: 0;
  pointer-events: none;
}

.menu-clip-open {
  clip-path: circle(150% at 100% 0); /* täcker hela skärmen */
  opacity: 1;
  pointer-events: auto;
}
